{
  "extends": "stylelint-config-htmlacademy",
  "rules": {
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["composes"]
      }
    ],
    "unit-allowed-list": ["em", "rem", "s", "px"]
  }
}
